body {
    background-color: rgb(31, 29, 29);
}

#chatbox {
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 500px;
}

#chatbox-header {
    color: white;
    font-size: 25px;
}


#chatbox-text {
    display: block;
    width: 100%;
    background-color: rgb(238, 233, 233);
    height: 350px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: left;
}

#chatbox-controls {
    height: 50px;
}

#chatbox-message-field {
    border: none;
    width: 85%;
    float:left;
    padding: 0px;
    height: 100%;
}

#send {
    width: 15%;
    float: right;
    border: none;
    padding: 0px;
    height: 100%;
}

